section.main__about
    h2.main__title Расскажите о себе словами
    p.main__note Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR. Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически.
    textarea.about-textarea(rows='3') Всегда интересовался веб-разработкой, в середине 2018 года написал свой первый h1 с hello world и плотно занялся обучением.
        | Дальше было много курсов поменьше и побольше, просмотры роликов на youtube, первые эксперименты, в начале 2019 вышел на фриланс, сделал несколько проектов. Продолжаю учиться в данный момент и работать. Сейчас больше фокус на JS, хочу стать разработчиком с прямыми руками)
