section.main__about
    h2.main__title Расскажите о себе словами
    p.main__note Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR. Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически.
    textarea.about-textarea(rows='3') С конца 2018 года изучаю веб, в начале 2019 вышел на фриланс, сделал несколько проектов.
        | Осенью 2019 устроился в компанию frontend разработчиком, в настоящее время продолжаю учиться и работать :)
