section.main__checkboxes
    h2.main__title Расскажите о себе чекбоксами
    p.main__note Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей. Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.
    .checkboxes
        ul.checkboxes__list
            li.checkboxes__item
                input.checkboxes__input.visually-hidden(type="checkbox" id="BEM-OOCSS" checked)
                label.checkboxes__label(for="BEM-OOCSS") БЭМ/OOCSS
            li.checkboxes__item
                input.checkboxes__input.visually-hidden(type="checkbox" id="Pug-Jade" checked)
                label.checkboxes__label(for="Pug-Jade") Pug (Jade)
            li.checkboxes__item
                input.checkboxes__input.visually-hidden(type="checkbox" id="Stylus-LESS-SASS" checked)
                label.checkboxes__label(for="Stylus-LESS-SASS") Stylus/LESS/SASS
            li.checkboxes__item
                input.checkboxes__input.visually-hidden(type="checkbox" id="SVG")
                label.checkboxes__label(for="SVG") Работаю с SVG
            li.checkboxes__item
                input.checkboxes__input.visually-hidden(type="checkbox" id="semantic" checked)
                label.checkboxes__label(for="semantic") Верстаю семантично
            li.checkboxes__item
                input.checkboxes__input.visually-hidden(type="checkbox" id="A11Y" checked)
                label.checkboxes__label(for="A11Y") Accessibility (A11Y)
            li.checkboxes__item
                input.checkboxes__input.visually-hidden(type="checkbox" id="Vanilla" checked)
                label.checkboxes__label(for="Vanilla") ES2015/ES2016
        ul.checkboxes__list
            li.checkboxes__item
                input.checkboxes__input.visually-hidden(type="checkbox" id="Gulp-GRUNT" checked)
                label.checkboxes__label(for="Gulp-GRUNT") Gulp/GRUNT
            li.checkboxes__item
                input.checkboxes__input.visually-hidden(type="checkbox" id="Webpack" checked)
                label.checkboxes__label(for="Webpack") Webpack
            li.checkboxes__item
                input.checkboxes__input.visually-hidden(type="checkbox" id="WebGL")
                label.checkboxes__label(for="WebGL") Дружу с WebGL
            li.checkboxes__item
                input.checkboxes__input.visually-hidden(type="checkbox" id="jQuery" checked)
                label.checkboxes__label(for="jQuery") jQuery
            li.checkboxes__item
                input.checkboxes__input.visually-hidden(type="checkbox" id="Angular")
                label.checkboxes__label(for="Angular") Знаю/изучаю Angular
            li.checkboxes__item
                input.checkboxes__input.visually-hidden(type="checkbox" id="React" checked)
                label.checkboxes__label(for="React") Изучаю React
            li.checkboxes__item
                input.checkboxes__input.visually-hidden(type="checkbox" id="Node")
                label.checkboxes__label(for="Node") Изучаю Node.js
        ul.checkboxes__list
            li.checkboxes__item
                input.checkboxes__input.visually-hidden(type="checkbox" id="git" checked)
                label.checkboxes__label(for="git") Использую Git
            li.checkboxes__item
                input.checkboxes__input.visually-hidden(type="checkbox" id="eyesight" checked)
                label.checkboxes__label(for="eyesight") С глазомером всё ок
            li.checkboxes__item
                input.checkboxes__input.visually-hidden(type="checkbox" id="blog.csssr")
                label.checkboxes__label(for="blog.csssr")
                    | Читаю
                    a.checkboxes__link(href="http://blog.csssr.ru" target="_blank")
                        | blog.csssr.ru
            li.checkboxes__item
                input.checkboxes__input.visually-hidden(type="checkbox" id="lazy")
                label.checkboxes__label(for="lazy") Я ленивый(-ая)
            li.checkboxes__item.checkboxes__item--last
                input.checkboxes__input.visually-hidden(type="checkbox" id="English" checked)
                label.checkboxes__label(for="English") У меня хороший английский


