section.main__javascript.javascript
	h2.main__title.javascript__title Уровень владения JavaScript
	div.slider
		button(type="button" aria-label="Ползунок слайдера навыков JS").slider__btn
		.slider__scale
			img(src="img/scale.png" alt="Шкала навыков Javascript")
		.slider__text-wrap
			p.slider__text Не владею
			p.slider__text Использую готовые решения
			p.slider__text Использую готовые решения и умею их переделывать
			p.slider__text Пишу сложный JS с нуля
