section.main__personal.data
    h2.visually-hidden Контактные данные
    .data__wrap
        label.data__field(for="fio") Полное ФИО
        input.data__input(placeholder="Хабиров Алексей Расимович" id="fio")
    .data__wrap
        label.data__field(for="year") Год рождения
        input.data__input(placeholder="1985" id="year")
    .data__wrap
        label.data__field(for="location") Место жительства
        input.data__input(placeholder="г. Москва, Россия" id="location")
    .data__wrap
        label.data__field(for="skype") Скайп
        input.data__input(placeholder="finko85" id="skype")
    .data__wrap
        label.data__field(for="email") Почта
        input.data__input(placeholder="finko85@gmail.com" id="email")