doctype html
html(lang='ru')
    include pug/head/head
    body
        .container
            include pug/header
            include pug/main
            include pug/footer
    script(type='text/javascript' src='js/app.min.js')
