header.header
    h1.visually-hidden Анкета Алексей Хабиров
    a.header__logo
        img(src="img/logo.png" alt="Логотип CSSSR" width="154" height="52")
    img.header__stamp(src="img/stamp.png" alt="Штамп Секретно, заполненно собственноручно" width="252" height="106")
    .header__account
        img.header__file(src="img/delo.png" alt="Дело" width="221" height="118")
